<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="wot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <wot.Properties.Settings>
            <setting name="MountPoint" serializeAs="String">
                <value>res_mods\xvm\.xvmfs</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ProxyServers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>RU	aHR0cDovL3Byb3h5Mi5idWx5Y2hldi5uZXQvJTE/dG9rZW49JTI=</string>
                        <string>EU	aHR0cDovL3Byb3h5Mi5idWx5Y2hldi5uZXQvJTE/dG9rZW49JTI=</string>
                        <string>US	aHR0cDovL3Byb3h5Mi5idWx5Y2hldi5uZXQvJTE/dG9rZW49JTI=</string>
                        <string>CN	aHR0cDovL2dhcnBoeS5jb20vdG9vbC93b3QvRUZGMi8lMS5qc29u</string>
                        <string>CN	aHR0cDovL3RpcHMuY3MwMzA5LmltdHQucXEuY29tL2dldFVzZXI/bmFtZT0lMSZ6b25lPW5vcnRoJmxjPTIwMTIwMzA4JndheT1uZXc=</string>
                        <string>CN	aHR0cDovL3dvdHJhdGUudmljcC5jby9Xb3RSYXRlWFZNMS8lMQ==</string>
                        <string>SEA	aHR0cDovL3Byb3h5Mi5idWx5Y2hldi5uZXQvJTE/dG9rZW49JTI=</string>
                        <string>VTC	aHR0cDovL3Byb3h5Mi5idWx5Y2hldi5uZXQvJTE/dG9rZW49JTI=</string>
                        <string>KR	aHR0cDovL3Byb3h5Mi5idWx5Y2hldi5uZXQvJTE/dG9rZW49JTI=</string>
                    </ArrayOfString>
                </value>
            </setting>
        </wot.Properties.Settings>
    </userSettings>
</configuration>
