/**
 * You can select ready config file from doc\samples\ directory, or use
 * online editor: http://www.koreanrandom.com/forum/topic/1422-/#entry11316
 *
 * Можно скопировать готовый из папки doc\samples\, или воспользоваться
 * онлайн-редактором: http://www.koreanrandom.com/forum/topic/1422-/#entry11316
 */
{
  "configVersion": "1.6.0"
}
