body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
    width: 100%;
    text-align: center;
}

tr:nth-child(odd) {
    background: #d3d3d3;
}