

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
table {
    width: 100%;
    text-align: center;
}

*/

.row {
    text-align: right;
}

.record:nth-child(4n+1) {
    background: #fff0f0;
}

.record:hover {
    background: #f0f0ff;
}

.server-stat-caption {
    clear: both;
    float: left;
}

.server-stat-value {
    float: right;
}

.span2 {
    border: 1px solid black;
    padding: 0 5px;
}